
<li>
	{{name}}

	<button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devour}}DEVOUR!{{else}}REGERGITATE!{{/if}}
	</button>
	<button class="delet" data-id="{{id}}">Delete</button>
</li>
